**/.vs/
**/*.csproj.user
packages/
**/packages.config
obj
Bins/
Test/
bin
*.user
.idea
Texture2DDecoderNative/cmake-build-debug/

HLSLccWrapper/cmake-build-debug/

HLSLccWrapper/HLSLcc/cmake-build-debug/
