@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@if (Program.Ripper.IsLoaded)
	{
		<p>@Program.Ripper.GameStructure.FileCollection.FetchAssetCollections().Where(a => (a.Count > 0)).Count() asset collections.</p>
	}
	else
	{
		<p>No files loaded.</p>
	}
</div>
