@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This app does not access the internet, except to download libraries, such as <a onclick="require('electron').shell.openExternal('https://getbootstrap.com/')" href="#">Bootstrap</a></p>
